body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  line-height: 40px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  margin-left: 10px;
  margin-right: 10px;
}

label {
  font-weight: normal;
}

label[for="motor-select"] {
  font-weight: bold;
}

label[for="battery-select"] {
  font-weight: bold;
}

select {
  padding: 5px;
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #777;
  width: 160px;
}

#motor-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 220px;
  margin-bottom: 10px;
}

#battery-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 130px;
  margin-bottom: 10px;
}

#observer-type {
  width: 235px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.button-container #gen-button {
  background-color: #007bff;
}

.button-container #gen-button:hover {
  background-color: #0056b3;
}

.button-container #save-button {
  background-color: #6aa84f;
}

.button-container #save-button:hover {
  background-color: #38761d;
}

.text-field-list-wrapper {
  display: flex;
  justify-content: center;
}

.text-field-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.column {
  margin-top: 20px;
}

.text-field-list h2 {
  margin-bottom: 10px;
}

.text-field-list ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
}

.text-field-list li {
  margin-bottom: 10px;
}

.text-field-list input[type="text"] {
  text-align: right;
  padding: 5px;
  width: 100px;
}