body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  line-height: 40px;
}

label {
  font-weight: normal;
}

label[for="motor-select"] {
  font-weight: bold;
}

label[for="battery-select"] {
  font-weight: bold;
}

select {
  padding: 5px;
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #777;
  width: 160px;
  transition: background-color 0.2s ease;
}

#motor-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 220px;
  margin-bottom: 10px;
}

#battery-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 235px;
  margin-bottom: 10px;
}

#foc_offsets_cal_on_boot {
  width: 75px;
}

#bms.type {
  width: 120px;
}

#foc_observer_type {
  width: 235px;
}

#foc_sensor_mode {
  width: 225px;
}

#foc_temp_comp {
  width: 75px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

.button-container #gen-button {
  background-color: #007bff;
}

.button-container #gen-button:hover {
  background-color: #0056b3;
}

.button-container #save-button {
  background-color: #6aa84f;
}

.button-container #save-button:hover {
  background-color: #38761d;
}

.button-container #clear-button {
  background-color: #f44336;
}

.button-container #clear-button:hover {
  background-color: #bb0000;
}

.key-container {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px
}

.red-square {
  width: 20px;
  height: 20px;
  background-color: #ff000099;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 6px;
}

.yellow-square {
  width: 20px;
  height: 20px;
  background-color: #ffff0066;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 6px;
}

.key-text {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.highlight {
  text-decoration: underline;
  font-weight: bolder;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  margin-left: 10px;
  margin-right: 10px;
}

.text-field-list-wrapper {
  display: flex;
  justify-content: center;
}

.text-field-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.column {
  margin-top: 20px;
}

.text-field-list h2 {
  margin-bottom: 10px;
}

.text-field-list ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 50px;
}

.text-field-list li {
  margin-bottom: 10px;
}

.text-field-list hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-field-list input[type="text"] {
  text-align: right;
  padding: 5px;
  width: 50px;
  border: 1px solid #777;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}
